<footer>
    <div class="footer-content">
        <div class="contact-info">
            <strong>info@flowerstore.com</strong>
            <p>+7 (952) 111 05 08</p>
        </div>
        <div class="address-info">
            <p>&copy; 2024 FloStyle</p>
            <p>ул. Цветочная 1, Новосибирск</p>
        </div>
    </div>
</footer>
