@{
    ViewData["Title"] = "Для клиентов FLĒUR";
}
<div class="image"><img src="~/images/about.jpg" /></div>

<h3>ОПЛАТА ЗАКАЗА</h3>
<p>
    Выбранные товары оплачиваются по QR—коду с помощью платежных карт Visa, Mastercard, МИР.
    Ссылку отправляет менеджер после согласования букета и деталей заказа.</p></br>

<h3>ДОСТАВКА</h3>
<p>Доставка рассчитывается по километражу и осуществляется курьером на адрес получателя,
    указанный при оформлении заказа.</p></br>

<h3>ОБМЕН И ВОЗВРАТ</h3>
<p>Согласно действующим нормам законодательства,
    букеты из живых цветов надлежащего качества обмену и возврату не подлежат.</p></br>




