@{
    ViewData["Title"] = "Цветочный салон FLĒUR";
}
<div class="index-container">
    <div class="left-section">
        <img src="~/images/index1.png">
    </div>
    <div class="right-section">
        <div class="images">
            <img src="~/images/index2.jpg">
            <img src="~/images/index3.jpg">
            <img src="~/images/index4.jpg">
        </div>
        <div class="text-section">
            <div class="salon-name">Цветочный салон FLĒUR FLOWERS</div>
            <h3>Безупречные букеты и сервис est. 2019</h3><br />
            <div class="salon-description">
                Наш красивый и просторный салон расположен в самом центре Новосибирска.
                На витрине в наличии вас всегда ждёт многообразие цветов.
                Благодаря частым и регулярным поставкам мы собираем букеты из самых свежих цветов,
                и это уже стало нашей визитной карточкой.<br /><br />
                Сервис очень важен для нас, поэтому мы тщательно следим за тем,
                чтобы фотографии букетов соответствовали действительности.<br />
                <b>Гарантируем:</b> вы получите именно то, что заказывали.
            </div>
        </div>
    </div>
</div>

